{% extends "network/layout.html" %}

{% block body %}
{% load static %}


<div class="container h-100">
  <div class="row h-140 justify-content-center align-items-center">

    <div class="card text-white bg-secondary bg-gradient mb-3 justify-content-center text-center" style="width: 50rem;">
      <img class="card-img-top" src="{% static 'images/profile.svg' %}" width="120" height="140">
      <div class="card-body">
        <h5 class="card-title">{{username}}</h5>
        <p class="card-text">Here we can put some user's informations.</p>
      </div>
      <ul class="list-group list-group-flush">
        <button type="button" class="btn btn-dark" disabled>
          <strong>Followers:</strong> <span class="badge badge-secondary">{{followers}}
          </span>
        </button>
        <button type="button" class="btn btn-dark" disabled>
          <strong>Following:</strong> <span class="badge badge-secondary">{{following}}
          </span>
        </button>
        <button type="button" class="btn btn-dark" disabled>
          <strong>Number of posts:</strong> <span class="badge badge-secondary">{{posts}}
          </span>
        </button>
      </ul>
      {% if user.username != username %}
      <div class="card-body justify-content-center align-items-center">
        {% if not doFollow %}
        <form id="dislikeForm" method="POST" action="{% url 'follow' username %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark bg-gradient">
            <a class="card-link">Follow <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 36 36">
              <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
            </svg></a>
          </button>
          <input type="hidden" name="usernameO" value="{{ user.username }}">
        </form>
        {% else %}
        <form id="dislikeForm" method="POST" action="{% url 'unfollow' username %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark">
            <a class="card-link">Unfollow <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 36 36">
              <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
            </svg></a>
          </button>
          <input type="hidden" name="usernameO" value="{{ user.username }}">
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}